<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Contact Us</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="38px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner" style="text-align: center;">
        <img src="images/app_header.png" style="max-width: 200px; width: 25%;" />
    </div>
    <div class="page_display_text">
        <table>
            <tr>
                <td valign="top"><ons-icon icon="fa-envelope-o" size="20px" style="color: #00A04B;"></ons-icon></td>
                <td>Email:<br /><a href="mailto:+27860624252" style="text-decoration: none;">contactus@domain.co.za</a></td>
            </tr>
            <tr>
                <td valign="top"><ons-icon icon="fa-phone" size="20px" style="color: #00A04B;"></ons-icon></td>
                <td>Phone:<br /><a href="tel:+27114636714" style="text-decoration: none;">011 463 6714</a></td>
            </tr>
            <tr>
                <td valign="top"><ons-icon icon="fa-map-marker" size="20px" style="color: #00A04B;"></ons-icon></td>
                <td>Physical Address:<br />Wedgewood Office Park<br />Block F3 Muswell Road<br />Bryanston</td>
            </tr>
            <tr>
                <td valign="top"><ons-icon icon="fa-envelope" size="20px" style="color: #00A04B;"></ons-icon></td>
                <td>Postal Address:<br />New PO Box 69939<br />Bryanston 2021</td>
            </tr>
        </table>
    </div>
</ons-page>