<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">How it works</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="38px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner" style="text-align: center;">
        <img src="images/app_header.png" class="otherPageBanImg" />
    </div>
    <div class="page_display_text" style="padding: 10px;">
        <h4>Why you dare not NOT join MyBonus:</h4>
        <p>It is free – yes, get used to getting stuff for free!</p>
        <p>Be rewarded, just because you are you, and because you are a patron at all our partner stores.</p>
        <p>Redeem your rewards for free, on any product in our Bonus shop or for that weekend getaway you so deserve. You can even phone our Call Centre to book your overseas skiing holiday, all for free!</p>
        <p>Remember, you get rewarded by a host of companies which means that your reward will tally up faster than Justin Bieber's rise to fame. This will allow you to redeem your Bucks faster and for much bigger rewards than any other loyalty programme where only one company rewards you.</p>
        <p>Have more fun, more often – all for free. Swipe any MyBonus card at any MyBonus partner and earn Bucks. Redeem your Bucks for anything your heart desires, from exclusive holiday getaways, electronics, household appliances and camping equipment, to saving our Rhino's by donating your MyBonus Bucks to the Endangered Wildlife Fund. You can even donate your bucks to an affinity of your choice, such as your local school or a children's house of safety.</p>
        <p>MyBonus and all its partners appreciate the fact that you know what you want, and that you expect us to understand your needs and appreciate you as an individual. You also expect us to know when you require different products and how we should present it to you. We are here to make your shopping experience at any of our partners a relaxing experience.</p>
        <p>Allow MyBonus to ensure that you get the service you deserve at all our partners and build a long-term relationship with companies that want to understand you and your requirements.</p>
        <p>Register now and get used to getting great stuff for free.</p>
    </div>

</ons-page>