<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">My Balance</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="38px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner" style="text-align: center;">
        <img src="images/app_header.png" style="max-width: 200px; width: 25%;" />
    </div>
    <div class="page_display_text" style="font-size: 12px;">
        <ons-list-item>
            <div style="width:55%; font-weight: bold; float: left;">As on:</div><div style="float: left;">{{updateDate}}</div>
            <div style="clear: both;"></div>
            <div style="width:55%; font-weight: bold; float: left;">MyBucks Available:</div><div style="float: left;">{{currentUnits}}</div>
            <div style="clear: both;"></div>
            <div style="width:55%; font-weight: bold; float: left;">Rands Available:</div><div style="float: left;">R {{currentRands}}</div>
            <div style="clear: both;"></div>
            <p>&nbsp;</p>
            <div style="width:55%; font-weight: bold; float: left;">Bucks Earned:</div><div style="float: left;">+ {{totalEarned}}</div>
            <div style="clear: both;"></div>
            <div style="width:55%; font-weight: bold; float: left;">Bonus Bucks Earned:</div><div style="float: left;">+ {{totalBonusEarned}}</div>
            <div style="clear: both;"></div>
            <div style="width:55%; font-weight: bold; float: left;">Bucks Used:</div><div style="float: left; border-bottom: 1px solid #000; width: 40%;">- {{totalUsed}}</div>
            <div style="clear: both;"></div>
            <div style="width:55%; font-weight: bold; float: left;">Total Bucks:</div><div style="float: left; border-bottom: 2px solid #000; width: 40%; font-weight: bold;">= {{totalBucks}}</div>
            <div style="clear: both;"></div>
        </ons-list-item>
    </div>
</ons-page>