<ons-page>
    <ons-toolbar>
        <div class="left"></div>
        <div class="center">MyBonus</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="38px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner" style="text-align: center;">
        <img src="images/app_header.png" class="otherPageBanImg" />
    </div>
    <div class="page_display_text">
        <div style="text-align: center;" onclick="myNavigator.pushPage('views/users/card.html', { animation : 'slide' } )">
            <div class="imgOver"></div>
            <img src="http://www.myitmanager.co.za/myBonusApp/api/classes/test_1D.php?text=627864990{{newMpacc}}&mpacc={{userMpacc}}" class="imgCard" />
        </div>
    </div>
    <br />
    <div style="padding: 0 20px;">
        
        <ons-button modifier="large" class="reg-button" onclick="myNavigator.pushPage('views/users/balance.html', { animation : 'slide' } )"><img src="images/icons/ballance.png"/> My Balance</ons-button>
        <br>
        <ons-button modifier="large" class="reg-button" onclick="myNavigator.pushPage('views/users/profile.html', { animation : 'slide' } )"><img src="images/icons/profile.png"/> My Profile</ons-button>
        <br>
        <ons-button modifier="large" class="reg-button" ng-click="getTransList();"><img src="images/icons/transactions.png"/> Last 10 Transaction</ons-button>
    </div>
</ons-page>