<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">My Profile</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="38px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner" style="text-align: center;">
        <img src="images/app_header.png" style="max-width: 200px; width: 25%;" />
    </div>
    <div class="page_display_text" style="font-size: 12px; padding: 10px;">
        <p style="line-height: 20px;"><strong>First Name:</strong><br />{{FirstName}}</p>
        <p style="line-height: 20px;"><strong>Last Name:</strong><br />{{LastName}}</p>
        <p style="line-height: 20px;"><strong>Gender:</strong><br />{{gender}}</p>
        <p style="line-height: 20px;"><strong>Birth Date:</strong><br />{{dob}}</p>
        <p style="line-height: 20px;"><strong>Id Number:</strong><br />{{IdNumber}}</p>
        <p style="line-height: 20px;"><strong>Email Address:</strong><br />{{EmailAddress}}</p>
        <p style="line-height: 20px;"><strong>Contact Number:</strong><br />{{ContactNumber}}</p>
        <p style="line-height: 20px;"><strong>Address 1:</strong><br />{{Addressline1}}</p>
        <p style="line-height: 20px;"><strong>Address 2:</strong><br />{{Addressline2}}</p>
        <p style="line-height: 20px;"><strong>Address 3:</strong><br />{{Addressline3}}</p>
        <p style="line-height: 20px;"><strong>Suburb:</strong><br />{{Suburb}}</p>
        <p style="line-height: 20px;"><strong>City:</strong><br />{{City}}</p>
        <p style="line-height: 20px;"><strong>Province:</strong><br />{{Province}}</p>
        <p style="line-height: 20px;"><strong>Postal Code:</strong><br />{{postalCode}}</p>
    </div>
    <div style="font-size: 12px; margin: 20px 40px 20px 40px; width: inherit;">
        <ons-button modifier="large" class="reg-button" ng-click="SetupUpdate()">Update Details</ons-button>   
    </div>
</ons-page>