<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">My Statements</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="38px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner" style="text-align: center;">
        <img src="images/app_header.png" style="max-width: 200px; width: 25%;" />
    </div>
    <div class="page_display_text">
        <ons-list-item ng-repeat="trans in transList">
            <div style="width:25%; font-weight: bold; float: left;">Label</div><div style="float: left;">{{trans.label}}</div>
            <div style="clear: both;"></div>
            <div style="width:25%; font-weight: bold; float: left;">Date</div><div style="float: left;">{{trans.transactionDate}}</div>
            <div style="clear: both;"></div>
            <div style="width:25%; font-weight: bold; float: left;">Points</div><div style="float: left;">{{trans.transactionPoints}}</div>
            <div style="clear: both;"></div>
        </ons-list-item>
    </div>
</ons-page>