<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">My Statements</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggleMenu()">
                <ons-icon icon="ion-navicon" size="38px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner" style="text-align: center;">
        <img src="images/app_header.png" class="otherPageBanImg" />
    </div>
    <div class="page_display_text">
        <ons-row align="top" style="padding: 5px 0px; border-bottom: 1px solid #eee; font-size: 11px;">
            <ons-col width="1%"></ons-col>
            <ons-col width="16%"><strong>Date</strong></ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col><strong>Partner</strong></ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col><strong>Description</strong></ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col width="12%"><strong>Points</strong></ons-col>
        </ons-row>
        <ons-row align="top" style="padding: 5px 0px; border-bottom: 1px solid #eee; font-size: 11px;" ng-repeat="trans in transList">
            <ons-col width="1%"></ons-col>
            <ons-col width="16%">{{trans.transactionDate}}</ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col>{{trans.Partner}}</ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col>{{trans.label}}</ons-col>
            <ons-col width="1%"></ons-col>
            <ons-col width="12%">{{trans.transactionPoints}}</ons-col>
        </ons-row>
    </div>
</ons-page>